name: Call Test Org Secret Workflow

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  call-test-org-secret:
    name: Test Organization Secret
    uses: Testing-org-epam/test-org-secret-repo-1/.github/workflows/test-org-secret.yml@main
